<footer>
    <div class="container">

        <a href="https://twitter.com/seeissfrance" class="icon fab fa-twitter"><span class="label"> Twitter</span></a>
        <a href="mailto:seetheissfromfrance@gmail.com" class="icon fas fa-envelope ms-2"><span
                    class="label"> Email</span></a>

    </div>
    <div class="copyright">
        &copy; SeeIss. All rights reserved. 2020- Developped by : <a href="https://twitter.com/baptiste_buvron">Baptiste
            BUVRON</a>
        <a href="/privacy">Privacy-policy</a>
    </div>
</footer>